<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
          crossorigin="anonymous">
    <title>Add Ricetta</title>
</head>
<body>
<nav th:replace="fragments/navbar :: topNavbar()"></nav>

<div class="container">
    <h1 th:text="${ricetta.id == null ? 'Crea una Ricetta' : 'Modifica ricetta'}"></h1>
    <hr>
    <th:block th:if="${ricetta.id == null}">
        <th:block th:with="action = @{/ricette/create}"></th:block>
    </th:block>
    <th:block th:if="${ricetta.id != null}">
        <th:block th:with="action = @{/ricette/edit/{id}(id=${ricetta.id})}"></th:block>
    </th:block>
    <hr>
    <form
            id="ricette"
            method="post"
            th:object="${ricetta}"
            th:action="${action}"
            class="row gy-3"
    >
        <div class="col-6">
            <label class="form-label" for="name">Name</label>
            <input class="form-control" type="text" id="name" th:field="*{name}"
                   th:errorClass="is-invalid">
            <div class="invalid-feedback" th:if="${#fields.hasErrors('name')}">
                <ul>
                    <li th:each="err : ${#fields.errors('name')}" th:text="${err}"></li>
                </ul>
            </div>
        </div>
        <div class="col-12">
            <label for="instructions" class="form-label">Istruzioni</label>
            <textarea class="form-control" rows="10" id="instructions" th:field="*{instructions}"></textarea>
        </div>
        <div class="col-12">
            <label for="ingredients" class="form-label">Ingredienti</label>
            <textarea class="form-control" rows="10" id="ingredients" th:field="*{ingredients}"></textarea>
        </div>
        <div class="col-6">
            <label class="form-label" for="imageUrl">Photo</label>
            <input class="form-control" type="text" id="imageUrl" th:field="*{imageUrl}">
        </div>
        <div class="col-2">
            <label class="form-label" for="numberOfPortions">Numero di porzioni </label>
            <input class="form-control" type="number" id="numberOfPortions" th:field="*{numberOfPortions}"
                   th:errorClass="is-invalid">
            <div class="invalid-feedback" th:if="${#fields.hasErrors('numberOfPortions')}">
                <ul>
                    <li th:each="err : ${#fields.errors('numberOfPortions')}" th:text="${err}"></li>
                </ul>
            </div>
        </div>
        <div class="col-2">
            <label class="form-label" for="preparationTime">Tempo di preparazione </label>
            <input class="form-control" type="number" id="preparationTime" th:field="*{preparationTime}"
                   th:errorClass="is-invalid">
            <div class="invalid-feedback" th:if="${#fields.hasErrors('preparationTime')}">
                <ul>
                    <li th:each="err : ${#fields.errors('preparationTime')}" th:text="${err}"></li>
                </ul>
            </div>
        </div>
        <div class="col-4">
            <label class="form-label" for="type">Tipo di ricetta</label>
            <select id="type" class="form-select" th:field="*{type}">
                <option value="" selected>Choose a type</option>
                <option th:each="rt : ${ricettaTypeList}" th:value="${rt.id}"
                        th:text="${rt.name}"></option>
            </select>
        </div>

        <div class="col-12">
            <button type="submit" class="btn btn-primary">Save</button>
            <a class="btn btn-primary" th:href="@{/ricette}">Cancel</a>
        </div>
    </form>
</div>

</body>
</html>