.card-img-top {
 height: 300px;
 object-fit: cover;
}

.card {
 width: 300px;
 box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
 background-color: #ccc;;
 }

body {
 background-image: url("/aaaa.jpg");
 background-size: cover;
}